<?xml version="1.0" encoding="UTF-8"?>
<config team="Team" color="C03000">
	<icon name="tf2.png"/>
	<sound name="victory.wav"/>
	<waragents>
		<warexplorer name="BrainExplorer.class"/>
		<warrocketlauncher name="BrainRocketLauncher.class"/>
		<warbase name="BrainBase.class"/>
	</waragents>
</config>
